[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==6.0.3"
pillow = "==12.1.1"
deep-translator = "==1.11.4"

[dev-packages]

[requires]
python_version = "3.13"
